@font-face {
  font-family: "Bold";
  src: local("ProximaNova-Bold"),
    url("./assets/fonts/Proxima/proximanova-bold.otf") format("truetype");
}
@font-face {
  font-family: "Semibold";
  src: local("ProximaNova-Semibold"),
    url("./assets/fonts/Proxima/proximanova-semibold.otf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: local("ProximaNova-Light"),
    url("./assets/fonts/Proxima/proximanova-light.otf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("ProximaNova-Regular"),
    url("./assets/fonts/Proxima/proximanova-regular.otf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.app {
  font-family: "Regular", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fffbf3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa300;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #fffbf3;
}
